<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decks</key>
	<array>
		<dict>
			<key>name</key>
			<string>Green.1</string>
			<key>cost</key>
			<integer>4</integer>
			<key>generation</key>
			<integer>1</integer>
			<key>color</key>
			<integer>1</integer>
			<key>orderCapacity</key>
			<integer>3</integer>
			<key>numberOfChildren</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Green.1</string>
			<key>cost</key>
			<integer>4</integer>
			<key>generation</key>
			<integer>1</integer>
			<key>color</key>
			<integer>1</integer>
			<key>orderCapacity</key>
			<integer>3</integer>
			<key>numberOfChildren</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Green.1</string>
			<key>cost</key>
			<integer>4</integer>
			<key>generation</key>
			<integer>1</integer>
			<key>color</key>
			<integer>1</integer>
			<key>orderCapacity</key>
			<integer>3</integer>
			<key>numberOfChildren</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Green.1</string>
			<key>cost</key>
			<integer>4</integer>
			<key>generation</key>
			<integer>1</integer>
			<key>color</key>
			<integer>1</integer>
			<key>orderCapacity</key>
			<integer>3</integer>
			<key>numberOfChildren</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Green.1</string>
			<key>cost</key>
			<integer>4</integer>
			<key>generation</key>
			<integer>1</integer>
			<key>color</key>
			<integer>1</integer>
			<key>orderCapacity</key>
			<integer>3</integer>
			<key>numberOfChildren</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Green.1</string>
			<key>cost</key>
			<integer>4</integer>
			<key>generation</key>
			<integer>1</integer>
			<key>color</key>
			<integer>1</integer>
			<key>orderCapacity</key>
			<integer>3</integer>
			<key>numberOfChildren</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Green.1</string>
			<key>cost</key>
			<integer>4</integer>
			<key>generation</key>
			<integer>1</integer>
			<key>color</key>
			<integer>1</integer>
			<key>orderCapacity</key>
			<integer>3</integer>
			<key>numberOfChildren</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Green.1</string>
			<key>cost</key>
			<integer>4</integer>
			<key>generation</key>
			<integer>1</integer>
			<key>color</key>
			<integer>1</integer>
			<key>orderCapacity</key>
			<integer>3</integer>
			<key>numberOfChildren</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Green.1</string>
			<key>cost</key>
			<integer>4</integer>
			<key>generation</key>
			<integer>1</integer>
			<key>color</key>
			<integer>1</integer>
			<key>orderCapacity</key>
			<integer>3</integer>
			<key>numberOfChildren</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Green.1</string>
			<key>cost</key>
			<integer>4</integer>
			<key>generation</key>
			<integer>1</integer>
			<key>color</key>
			<integer>1</integer>
			<key>orderCapacity</key>
			<integer>3</integer>
			<key>numberOfChildren</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Green.1</string>
			<key>cost</key>
			<integer>4</integer>
			<key>generation</key>
			<integer>1</integer>
			<key>color</key>
			<integer>1</integer>
			<key>orderCapacity</key>
			<integer>3</integer>
			<key>numberOfChildren</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Green.1</string>
			<key>cost</key>
			<integer>4</integer>
			<key>generation</key>
			<integer>1</integer>
			<key>color</key>
			<integer>1</integer>
			<key>orderCapacity</key>
			<integer>3</integer>
			<key>numberOfChildren</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Green.1</string>
			<key>cost</key>
			<integer>4</integer>
			<key>generation</key>
			<integer>1</integer>
			<key>color</key>
			<integer>1</integer>
			<key>orderCapacity</key>
			<integer>3</integer>
			<key>numberOfChildren</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Green.1</string>
			<key>cost</key>
			<integer>4</integer>
			<key>generation</key>
			<integer>1</integer>
			<key>color</key>
			<integer>1</integer>
			<key>orderCapacity</key>
			<integer>3</integer>
			<key>numberOfChildren</key>
			<integer>4</integer>
		</dict>
	</array>
</dict>
</plist>
